---
import Buttom from "./Buttom.astro";

const cardItem = [
  {
    title: "Coaching Personalizado",
    description:
      "Orientado cumplir objetivos reconociendo limitantes, y descubriendo el poder de transformación de los pensamientos.",
    price: "0",
    list: [
        {
          itemOne: "Sesiones 1 a 1",
          itemTwo: "Programa mentoring 10 sesiones",
          itemThree: "Curso online 'Mujer Triunfadora'",
        }
    ],
    service: "seleccionarServicio('Servicio A')",
  },
  {
    title: "Sesiones grupales de Coaching",
    description:
      "Segun análisis y diagnóstico, adaptado a la necesidad y requerimiento de cada organización.",
    price: "0",
    list: [
        {
          itemOne: "Clima labora, Bienestar emocional",
          itemTwo: "Desarrollo de equipos creativos",
          itemThree: "Liderazgo desde el ser creativo",
        }
    ],
    service: "seleccionarServicio('Servicio B')",
  },
  {
    title: "Talleres y conferencias arte, creatividad e innovación.",
    description: "De una forma mas personalizada, te ayudare a superar tus desafíos, desarrollar tus habilidades y alcanzar tu máximo potencial",
    price: "0",
    list: [
        {
          itemOne: "Charlas motivacionales de desarrollo personal y bienestar emocional",
          itemTwo: "Talleres Arte y Creatividad: Creatividad Sostenible, Mente creativa y Ambiente productivo, Pintando emociones.",
          itemThree: "Curso online y presencial 'Emocion-Arte'",
        }
    ],
    service: "seleccionarServicio('Servicio C')",
  },
];

---

<article class="grid md:grid-cols-3 items-start justify-center gap-4 m-auto">
  {
    cardItem.map((link) =>  (
      <div class="grid auto-rows-auto w-full max-w-sm min-h-fit p-4 bg-white border-2 border-gray-500 rounded-lg shadow sm:p-8 h-full items-start justify-center">
        <div>
          <h2 class="mb-4 text-xl font-medium text-gray-500 capitalize">
            {link.title}
          </h2>
          <h3 class="mb-2 text-md font-light text-gray-400 text-pretty">
            {link.description}
          </h3>
        </div>
        <hr class="mb-4 border-2 border-gray-500 rounded" />
        <div class="grid gap-2 grip-rows-2">
        <ul role="list" class="space-y-5 mb-7 mt-3">
          {link.list.map(({ itemOne, itemTwo, itemThree }) => (
            <li class="flex items-center">
              <svg
                class="flex-shrink-0 w-4 h-4 text-[var(--clr-two)]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
              </svg>
              <span class="text-sm font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">
                {itemOne}
              </span>
            </li>
            <li class="flex">
            <svg
              class="flex-shrink-0 w-4 h-4 text-[var(--clr-two)]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-sm font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">
                {itemTwo}
            </span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-4 h-4 text-[var(--clr-two)]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-sm font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">
                {itemThree}
            </span>
          </li>
          /*
          <li class="flex">
            <svg
              class="flex-shrink-0 w-4 h-4 text-[var(--clr-two)]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight  text-gray-500 dark:text-gray-400 ms-3">
                {itemFour}
            </span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-4 h-4 text-[var(--clr-two)]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">
                {itemFive}
            </span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-4 h-4 text-[var(--clr-two)]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">
                {itemSix}
            </span>
          </li>*/
          ))}
        </ul>
        <Buttom href="/formBuy">Adquirir</Buttom>
      </div>
      </div>
    ))
  }
</article>