---
import Buttom from "./Buttom.astro";

const cardItem = [
  {
    title: "Servicio de Coaching Personalizado",
    description:
      "Orientado cumplir objetivos reconociendo limitantes y descubriendo el poder de transformación de los pensamientos.",
    price: "49",
    list: [
        {
          itemOne: "Programa de Mentoring 1 a 1 de 10 sesiones",
          itemTwo: "Curso Online 'Mujer Triunfadora'",
          itemThree: "Sesiones individuales de Coaching",
          itemFour: "Atencion al cliente",
          itemFive: "Gestion eficaz de tiempo",
          itemSix: "Clima laboral",
        }
    ],
  },
  {
    title: "Sesiones de Coaching a empresas y organizaciones",
    description:
      "Segun análisis y diagnóstico, adaptado a la necesidad y requerimiento de cada organización.",
    price: "49",
    list: [
        {
          itemOne: "Sesiones grupales de Coaching segun diagnostico", 
          itemTwo: "Talleres Organizacionales",
          itemThree: "Charlas, clima laboral, desarrollo personal",
          itemFour: "Atencion al cliente",
          itemFive: "Gestion eficaz de tiempo",
          itemSix: "Clima laboral",
        }
    ],
  },
  {
    title: "Talleres de arte, creatividad e innovación",
    description: "De una forma mas personalizada, te ayudare a superar tus desafíos, desarrollar tus habilidades y alcanzar tu máximo potencial",
    price: "200",
    list: [
        {
          itemOne: "Creatividad sostenible",
          itemTwo: "Mente creativa, ambiente productivo",
          itemThree: "Transforma tu entorno eleva tu productividad",
          itemFour: "Conferencias motivacionales",
          itemFive: "Gestion eficaz de tiempo",
          itemSix: "Clima laboral",
        }
    ],
  },
];

---

<article class="grid md:grid-cols-3 items-start justify-center gap-4 m-auto">
  {
    cardItem.map((link) =>  (
      <div class="grid auto-rows-auto w-full max-w-sm p-4 bg-white border-2 border-gray-500 rounded-lg shadow sm:p-8">
        <h2 class="mb-4 text-xl font-medium text-gray-500 capitalize">
          {link.title}
        </h2>
        <h3 class="mb-4 text-md font-light text-gray-400 text-pretty">
          {link.description}
        </h3>
        <!-- <div class="flex items-baseline text-gray-900">
          <span class="text-3xl font-semibold">$</span>
          <span class="text-5xl font-extrabold tracking-tight">
            {link.price}
          </span>
          <span class="ms-1 text-xl font-normal text-gray-500">/month</span>
        </div> -->
        <hr class="mt-2 mb-12 border-2 border-gray-500 rounded" />
        <ul role="list" class="space-y-5 mb-7 mt-3">
          {link.list.map(({ itemOne, itemTwo, itemThree, itemFour, itemFive, itemSix}) => (
            <li class="flex items-center">
              <svg
                class="flex-shrink-0 w-4 h-4 text-[var(--clr-two)]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
              </svg>
              <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">
                {itemOne}
              </span>
            </li>
            <li class="flex">
            <svg
              class="flex-shrink-0 w-4 h-4 text-[var(--clr-two)]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">
                {itemTwo}
            </span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-4 h-4 text-[var(--clr-two)]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">
                {itemThree}
            </span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-4 h-4 text-[var(--clr-two)]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight  text-gray-500 dark:text-gray-400 ms-3">
                {itemFour}
            </span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-4 h-4 text-[var(--clr-two)]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">
                {itemFive}
            </span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-4 h-4 text-[var(--clr-two)]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">
                {itemSix}
            </span>
          </li>
          ))}
        </ul>
        <Buttom href="/formBuy">Adquirir</Buttom>
      </div>
    ))
  }
</article>
