---
import Buttom from "./Buttom.astro";

const cardItem = [
  {
    title: "Servicio de Coaching Personalizado.",
    description:
      "Orientado cumplir objetivos reconociendo limitantes, y descubriendo el poder de transformación de los pensamientos.",
    price: "0",
    list: [
        {
          itemOne: "Programa mentoring 1 a 1 de 10 sesiones",
          itemTwo: 'Curso online "Mujer triunfadora"',
          itemThree: "Sesiones individuales de coaching",
        }
    ],
  },
  {
    title: "Servicios de Coaching a empresas y organizaciones.",
    description:
      "Segun análisis y diagnóstico, adaptado a la necesidad y requerimiento de cada organización.",
    price: "0",
    list: [
        {
          itemOne: "Sesiones grupales de coaching según diagnóstico previo",
          itemTwo: "Talleres organizacionales: Trabajo en Equipo, Gestion Eficaz de Tiempo, Liderazgo, Comunicación efectiva y asertiva, Atención al cliente y Clima laboral.",
          itemThree: "Charlas clima laboral, desarrollo personal",
        }
    ],
  },
  {
    title: "Talleres y conferencias arte, creatividad e innovación.",
    description: "De una forma mas personalizada, te ayudare a superar tus desafíos, desarrollar tus habilidades y alcanzar tu máximo potencial",
    price: "0",
    list: [
        {
          itemOne: "Charlas motivacionales de desarrollo personal y bienestar emocional",
          itemTwo: "Talleres Arte y Creatividad: Creatividad Sostenible, Mente creativa y ambiente productivo, Pintando emociones.",
          itemThree: "Comunicacion asertiva",
        }
    ],
  },
];

---

<article class="grid md:grid-cols-3 items-start justify-center gap-4 m-auto">
  {
    cardItem.map((link) =>  (
      <div class="grid auto-rows-auto w-full max-w-sm p-4 bg-white border-2 border-gray-500 rounded-lg shadow sm:p-8 h-full">
        <h2 class="mb-2 text-xl font-medium text-gray-500 capitalize">
          {link.title}
        </h2>
        <h3 class="mb-2 text-md font-light text-gray-400 text-pretty">
          {link.description}
        </h3>
       
        <hr class="mb-4 border-2 border-gray-500 rounded" />
        <ul role="list" class="space-y-5 mb-7 mt-3">
          {link.list.map(({ itemOne, itemTwo, itemThree }) => (
            <li class="flex items-center">
              <svg
                class="flex-shrink-0 w-4 h-4 text-[var(--clr-two)]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
              </svg>
              <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">
                {itemOne}
              </span>
            </li>
            <li class="flex">
            <svg
              class="flex-shrink-0 w-4 h-4 text-[var(--clr-two)]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">
                {itemTwo}
            </span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-4 h-4 text-[var(--clr-two)]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">
                {itemThree}
            </span>
          </li>
          /*
          <li class="flex">
            <svg
              class="flex-shrink-0 w-4 h-4 text-[var(--clr-two)]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight  text-gray-500 dark:text-gray-400 ms-3">
                {itemFour}
            </span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-4 h-4 text-[var(--clr-two)]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">
                {itemFive}
            </span>
          </li>
          <li class="flex">
            <svg
              class="flex-shrink-0 w-4 h-4 text-[var(--clr-two)]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">
                {itemSix}
            </span>
          </li>*/
          ))}
        </ul>
        <Buttom href="/formBuy">Adquirir</Buttom>
      </div>
    ))
  }
</article>